<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660237966878-penrscfne375tjvirtokkf8729jsl1gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660237966878-penrscfne375tjvirtokkf8729jsl1gl</string>
	<key>API_KEY</key>
	<string>AIzaSyCtXAnl1tmZnP5bSCwra4GQzw8ujkIIhEo</string>
	<key>GCM_SENDER_ID</key>
	<string>660237966878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.novereistechnology.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoomclone-f2173</string>
	<key>STORAGE_BUCKET</key>
	<string>zoomclone-f2173.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660237966878:ios:7f96b5b263a5c13b0d580f</string>
</dict>
</plist>